<% flash.each do |name, message| %>
    <div class="ui <%= name %> message transition">
        <i class="close icon"></i>
        <div class="header">
            <%= message %>
        </div>
    </div>
<% end %>